body {
    background-image: linear-gradient(rgba(205, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/Rt2Jekp.jpg');
    background-size: 100% 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    width: 100vw;
}

main {
    height: 28vh;
    width: 28vh;
}

.clock {
    border: 5px solid #264E86;
    border-radius: 50%;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.7), inset 0 1px 8px rgba(34, 34, 34, 0.7);
    height: 100%;
    position: relative;
    top: 100%;
    animation: fadein 4s ease-in;
    width: 100%;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#hours {
    background: #264E86;
    border-radius: 4px 0 0 4px;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.7), inset 0 1px 8px rgba(34, 34, 34, 0.7);
    height: 0;
    left: 50%;
    margin: -4px 0 -4px -25%;   
    padding: 4px 0 4px 25%;
    position: absolute;
    top: 50%;
    transform-origin: 100% 50%;
    width: 0;
}

#minutes {
    background: #264E86;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.7), inset 0 1px 8px rgba(34, 34, 34, 0.7);
    border-radius: 3px 3px 0 0;
    height: 0;
    left: 50%;
    margin: -40% -3px 0;
    padding: 40% 3px 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 100%;
    width: 0;
}

#seconds {
    background: #264E86;
    box-shadow: 0 1px 8px rgba(34, 34, 34, 0.7), inset 0 1px 8px rgba(34, 34, 34, 0.7);
    border-radius: 3px 3px 0 0;
    height: 0;
    left: 50%;
    margin: -40% -1px 0 0;
    padding: 40% 1px 0;
    position: absolute;
    top: 50%;
    transform-origin: 50% 100%;
    width: 0;
}

.info {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    position: absolute;
    top: 75%;
    width: 100%;
}

.info > p {
    color: #EFF0F4;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.25vh;
    margin: 0;
}